In [4]:

print ('panklaj')

panklaj

In [5]:
tup1= (1,True ,3.12,"pankaj")

In [6]:
tup1

(1, True, 3.12, 'pankaj')

In [7]:
len(tup1)

4

In [9]:
tup1=(1,2,3)  # contanimenting is very easy in tuple
tup2=(4,5,6)

In [10]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [28]:
l1=[3,7,2,8]
l1.sort() 

l1

[2, 3, 7, 8]

In [30]:
# dictonary


d1={"apple ":50,"mango":90,"banana":79,"guave":50}
d1

{'apple ': 50, 'mango': 90, 'banana': 79, 'guave': 50}

In [31]:
type(d1)

dict

In [33]:
#for extrating the key only
d1.keys()

dict_keys(['apple ', 'mango', 'banana', 'guave'])

In [34]:
#for extracting the value
d1.values()

dict_values([50, 90, 79, 50])

In [35]:
#for adding new element
d1["pineapple"]=60
d1

{'apple ': 50, 'mango': 90, 'banana': 79, 'guave': 50, 'pineapple': 60}

In [36]:
#for change in existing element
d1["mango"]=200
d1

{'apple ': 50, 'mango': 200, 'banana': 79, 'guave': 50, 'pineapple': 60}

In [37]:
#update is use for append
d2={"pana":78,"hhgh":98}
d1.update(d2)
d1

{'apple ': 50,
 'mango': 200,
 'banana': 79,
 'guave': 50,
 'pineapple': 60,
 'pana': 78,
 'hhgh': 98}

In [38]:
#set :- ut is a unoder list 
# repetation are not allowed 
# you can add element randomly
s1={1,"d",True ,"b",False}
s1

{1, False, 'b', 'd'}

In [39]:
type(s1)

set

In [40]:
s1.add(False)
s1

{1, False, 'b', 'd'}

In [47]:
#there are many built-in fucntion like math like union and intersection
s2={"a","b",'c","d'}
s1.union(s2)

{'a', 'b', 'c","d'}

In [48]:
#ananamous function labmda
g=lambda x:x*x*x
g(10)

1000

In [49]:
#filter function .it take two parameter 1.function set name 
l1=[87,46,97,56,34,]
final_list = list(filter (lambda x:(x%2!=0),l1))
final_list

[87, 97]

In [50]:
#lambda with reduce function
from functools import reduce
sum = reduce (lambda x,y:x+y,l1)
sum

320